@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #c21010;
  --text-color: #e64848;
}

body {
  font-family: "Quicksand", sans-serif;
  background: #999;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: var(--text-color);
  position: fixed;
  width: 100%;
  top: 0;
  transition: 200ms;
  z-index: 10;
}

nav.observe {
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

nav h2 {
  letter-spacing: 5px;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  flex-basis: 25%;
}

nav ul li a {
  text-decoration: none;
  color: var(--background-color);
  font-size: 1.3em;
  font-weight: bold;
}

header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-basis: 50%;
  padding: 20px;
  margin-top: 100px;
  color: white;
}

header .text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

header .text span {
  color: var(--text-color);
  transition: 200ms;
}

header .text span:hover {
  cursor: grab;
  font-size: 1.3em;
}

header .image img {
  width: 300px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  padding: 20px;
  margin: 20px;
  background: white;
  border-radius: 5px;
}

.hide-show {
  width: 150px;
  height: 40px;
  border: none;
  background-color: var(--background-color);
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.hidden {
  display: none;
}

main.card {
  margin-top: 200px;
}

main .flex-container-column {
  display: flex;
  flex-direction: column;
  margin: 0 100px;
  gap: 2em;
}

main .flex-container-column header {
  font-size: 2em;
  font-weight: bold;
  color: var(--text-color);
}

main .flex-container-column .body {
  font-size: 1.3em;
  display: flex;
  flex-direction: row;
}

main .flex-container-column section {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.content-text {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 1em;
}

.content-text span {
  color: var(--text-color);
  font-size: 1.5em;
}

.content-image {
  height: 100%;
  margin: 0 auto;
}

.content-image img {
  width: 500px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  transition: 500ms;
}

.content-image img:hover {
  transform: translate(0%, -5%);
}

.content-feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.content-feature header h1 {
  color: white;
  font-size: 5em;
}

.content-feature .content-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.content-feature .content-body h1 {
  text-align: center;
  font-size: 2em;
  color: white;
}

::-webkit-input-placeholder {
  text-align: center;
}

.meat-input {
  color: white;
  text-align: center;
  font-size: 2em;
  border-radius: 5px;
  border: none;
  background: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.result-container {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 25%;
  justify-content: center;
  align-items: center;
}

.result-container .api-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  gap: 2em;
  margin: 20px;
}

.result-container .api-cards .cards-thumbnail img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.detail-button {
  background: var(--background-color);
  color: white;
  border: none;
  font-size: 1.5em;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

#credit {
  background: var(--background-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  font-size: 1.5em;
  font-weight: bold;
  padding: 20px;
}

/* Mobile Responsive */

@media only screen and (max-width: 576px) {
  nav h2 {
    letter-spacing: normal;
  }

  nav ul li a {
    font-size: 12px;
  }

  header .container {
    flex-direction: column;
    flex-basis: 100%;
  }

  header .text {
    width: 100%;
    font-size: 12px;
  }

  .hide-show {
    font-size: 2em;
    margin-bottom: 20px;
  }

  .card {
    margin: 0;
    border-radius: 0;
  }

  main .flex-container-column {
    margin: 0;
  }

  main .flex-container-column .body {
    flex-direction: column;
  }

  .content-image img {
    width: 250px;
  }

  .meat-input {
    max-width: 90%;
  }
}
